<h1>Editing cinema db</h1>

<%= render "form", cinema_db: @cinema_db %>

<br>

<div>
  <%= link_to "Show this cinema db", @cinema_db %> |
  <%= link_to "Back to cinema dbs", cinema_dbs_path %>
</div>
